@import "tailwindcss";

:root {
    font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* animation for scroll */
.show {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
@keyframes appear {
  0% {
    opacity: 0;
    scale: 0.2;
  }
  50% {
    opacity: 0.5;
    scale: 0.5;
  }
}
/* END */

/* typing animation for description */
.desc {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  width: 0;
  animation: typing 5s steps(30, end) infinite, blink 0.75s step-end infinite;
}

@keyframes typing {
  0%   { width: 0 }
  80%  { width: 27ch } /* Typing finishes */
  100% { width: 27ch } /* Hold the last frame */
}

@keyframes blink {
  50% { border-color: transparent; }
}


/* END */

/* Submit Button */
.button {
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #00ADB5;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
.button:hover {
    letter-spacing: 3px;
    background-color: rgb(3, 34, 119);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(3, 34, 119) 0px 7px 29px 0px;
  }
  
.button:active {
    letter-spacing: 3px;
    background-color: rgb(3, 34, 119);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(3, 34, 119) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 200ms;
  }
/* END */

/* Navigation Button */
  .view:hover {
    letter-spacing: 3px;
    background-color: rgb(3, 34, 119);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(3, 34, 119) 0px 7px 29px 0px;
  }
  .view:active {
    letter-spacing: 3px;
    background-color: rgb(3, 34, 119);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(3, 34, 119) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 200ms;
  }
/* END */